  <header>
  <div id="header">
        <p class="blogtitle"><a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a></p>
        <p class="blogdescription">{{@blog.description}}</p>
        <div class="about"><a href="#aboutModal" data-toggle="modal" data-target="#myModal"><i class="fa fa-question fa-2x"></i></a></div>
    </div>
</header>
