
    <!-- Modal about site -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h4 class="text-left-title posttheme-dialog"></i>About Jade</h4>
                <div class="modal-body">
                  <div class="panel">
                        <p>The theme currently used is called <a href="https://github.com/hxkclan/jade" target="_blank">Jade</a>. Jade uses elements from <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> with <a href="http://jquery.com/" target="_blank">JQuery</a> for modals and the (fluid) website layout. Jade also uses <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">Font-Awesome</a> for the scalable icons.
                        </p>
                </div>
              </div>
            </div>
        </div>
    </div>
