<header>
<nav class="navbar navbar-expand-md navbar-dark">
     {{#if @blog.logo}}
       <a class="navbar-brand" href="{{@blog.url}}">
        <img src="{{@blog.logo}}" alt="blog logo" class="logo-fixed">
      </a>
      {{/if}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <ul class="collapse navbar-collapse" id="navbarNav">
        {{#foreach navigation}}
        <li class="menu-item{{#if current}} active{{/if}}">
            <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
        </li>
        {{/foreach}}

    </ul>
</nav>
</header>
