{{! i have included a smaller version of font-awesome in this theme available options in my version are: bitbucket, lastfm, linkedin, facebook-official, github, google-plus and twitter }}
<div class="socialfooter center-align">
        <a href="{{@blog.url}}/rss" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
        {{#if @blog.facebook}}
        <a href="{{@blog.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        {{/if}}
        {{#if @blog.twitter}}
        <a href="{{@blog.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        {{/if}}
</div>
