{{! i have included a smaller version of font-awesome in this theme available options in my version are: bitbucket, lastfm, linkedin, facebook-official, github, google-plus and twitter }}
<div class="socialfooter">
        <a href="http://www.twitter.com/boumannm" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="http://plus.google.com/+michaelboumann" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
        <a href="http://www.github.com/hxkclan" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a href="http://www.linkedin.com/in/mboumann" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="http://www.michaelboumann.info/index_en.html" target="_blank"><i class="fa fa-user-secret fa-2x"></i></a>
</div>
