{{! i have included a smaller version of font-awesome in this theme available options in my version are: bitbucket, lastfm, linkedin, facebook-official, github, google-plus and twitter }}
<div class="socialfooter center-align hide-on-small">
        <a href="{{@blog.url}}/rss" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
</div>
