<div class="socialfooter">
        <a href="{{@blog.url}}/rss" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
        {{#if @blog.facebook}}
        <a href="{{facebook_url @blog.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        {{/if}}
        {{#if @blog.twitter}}
        <a href="{{twitter_url @blog.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        {{/if}}
        <p class="float-right">
          <a href="https://canitia.nl/themes.html#canitiajr" target="_blank">{{t "Canitia Jr."}}</a>
        </p>
</div>
