<div class="socialfooter">
        <a href="{{@blog.url}}/rss" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
        {{#if facebook}}
        <a href="{{facebook_url}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        {{/if}}
        {{#if twitter}}
        <a href="{{twitter_url}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        {{/if}}
        <p class="right">
          <a href="https://michaelboumann.info/collection/#canitiajr" target="_blank">{{t "Canitia Jr."}}</a>
        </p>
</div>
