<div class="col s12 m12 l4 hide-on-med-and-down">
  <div class="card card-sidebar">
    <h1 class="text-left-title-featured blue darken-4 center-align">Recent tweets</h1>
    <article>
      <a class="twitter-timeline"  href="https://twitter.com/boumannm" data-widget-id="715327559530110978">Tweets by @boumannm</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </article>
  </div>
</div>
