<div class="col s12 m12 l4 hide-on-med-and-down">
  <!-- each sidebar 'card' should be formatted like this

  <div class="card card-sidebar">
    <h1 class="text-left-title-featured blue darken-4 center-align">Change this title</h1>
    <article>
      Enter your content here
    </article>
  </div>
-->

  <div class="card card-sidebar"> <!-- start of a sidebar item -->
    <h1 class="text-left-title-featured blue darken-4 center-align">Title</h1>
    <article>
        <p>Empty Sidebar</p>
    </article>
  </div> <!-- end of sidebar item -->
</div>
