<div class="col s12 m12 l4 hide-on-med-and-down">
  <!-- each sidebar 'card' should be formatted like this

  <div class="card card-sidebar">
    <h1 class="text-left-title-featured blue darken-4 center-align">Change this title</h1>
    <article>
      Enter your content here
    </article>
  </div>
-->

<div class="card card-sidebar"><!-- start of a sidebar item -->
  <h1 class="text-left-title-featured blue darken-4 center-align">Most used tags</h1>
  <article>
    <ul class="collection">
    {{#get "tags" limit="5" include="count.posts" order="count.posts desc"}}
          {{#foreach tags}}
              <li class="collection-item"><a href="/tag/{{slug}}">{{name}} <span class="badge">{{count.posts}}</span></a></li>
          {{/foreach}}
    {{/get}}
  </ul>
  </article>
</div><!-- end of sidebar item -->
</div>
