{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<script>
function goBack() {
    window.history.back();
}
</script>
<div class="row">

          <div class="card col s12 m12 l12">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <div class="card-block">
              <h2 class="card-title">{{t "Error"}}</h2>
              <p class="card-text">{{t "This post/page doesn't exist anymore or has been made unavailable. To continue please click the back button or select a option from the navigation menu."}}</p>
                <div class="spacer"></div>
                <div class="card-actions-bottom">
                  <a class="btn btn-primary read-more-btn" onclick="goBack()">{{t "Return to previous page"}}</a>
                </div>
            </div>
          </div>  

</div>