{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

  <div class="card card-error big">
    <article>
      <h1 class="text-left-title accentcolor-error center-align"><a href="{{url}}">Whoops...</a></h1>
          <div class="col s12">
            <p>This page doesn't exist anymore or was available on the old website. To continue please select a menu option from the navigation menu.<p>
        </div>
    </article>
    </div>
