{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

    {{#if prev}}
    <a href="{{page_url prev}}">
        <div class="col s1 pagination-arrows-flex pagination-arrow-left">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
    </a>
    {{/if}}



<div class="main-content col s10">
    {{> 'post/card-basic'}}
</div>

    {{#if next}}
    <a href="{{page_url next}}">
        <div class="col s1 pagination-arrows-flex pagination-arrow-right">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </a>
    {{/if}}