{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row">
{{#is "home"}}
    <div class="main-content col s12 m12 l12">
{{else}}
    <div class="main-content col s12 m8 l8">
{{/is}}
    <h1 class="text-left-title-featured-sidebar">Latest</h1>
    {{> 'post/card-basic'}}
    {{#if pagination}}
        {{pagination}}
    {{/if}}
</div>
    {{> 'ui/sidebar'}}
</div>
