{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row">
<div class="main-content col s12">
    {{> 'post/card-basic'}}
    {{#if pagination}}
        {{pagination}}
    {{/if}}
</div>
</div>
