  <header>
  <div id="header">
        <p class="blogtitle"><a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a></p>
        <p class="blogdescription">{{@blog.description}}</p>
  </div>
</header>
