<div class="sidebar">
  <div class="socialside">
    <a href="http://www.twitter.com/hxkclan" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a class="twitter-timeline" href="https://twitter.com/hxkclan" data-widget-id="601045818439766017">Tweets by @hxkclan</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <a href="http://plus.google.com/+michaelboumann" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-person" data-href="https://plus.google.com/+MichaelBoumann"></div>
    <a href="http://www.github.com/hxkclan" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <div class="github-card" data-github="hxkclan" data-width="300" data-height="" data-theme="default"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <a href="http://www.michaelboumann.info" target="_blank"><i class="fa fa-user-secret fa-2x">Over mij</i></a>
  </div>
</div>
