<div class="socialfooter">
        <a href="http://www.twitter.com/hxkclan" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="http://plus.google.com/+michaelboumann" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
        <a href="http://www.github.com/hxkclan" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a href="http://www.michaelboumann.info" target="_blank"><i class="fa fa-user-secret fa-2x"></i></a>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><i class="fa fa-question fa-2x"></i></a>
</div>
