/* ##############################

  SET OVERALL ACCENT color

  #############################*/
.accentcolor {
background-color: #0d47a1 !important;
}

.accentcolor2, .side-nav a:hover, .slider .indicators .indicator-item.active {
  background-color: #1565c0 !important;
}

.accentcolor-error {
  background-color: red !important;
}


/* **************************************

  GENERAL FONT / ELEMENT

*****************************************/
html body {
	line-height: 0 !important;
	font-size:16px;
	font-family: Roboto,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	background-color: dimgrey;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 175%;
}

h4 {
	font-size: 140%;
}

p {
	line-height: 30px;
	text-rendering: geometricPrecision;
}

p > a {
	text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #979797 !important;
    margin: 1em 0;
    padding: 0;
}

pre {
	line-height: 30px;
}

blockquote {
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	background-color: whitesmoke;
  	border-left: 0 !important;
}

blockquote:before, blockquote:after {
    color:black;
    content:'\f10d';
    font-family:'FontAwesome';
    font-size:30px;
    position:absolute;
    top:5px;
    left:8px;
    display:block;
}
blockquote:after {
    content:'\f10e';
    bottom:0;
    right:8px;
    top:auto;
    left:auto;
}

blockquote > p {
  	font-style: italic !important;
		text-align:left;
		margin-left:30px !important;
}

pre {
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #f5f7f8;
}

strong {
  font-weight: 700 !important;
}

p > a, .headerurl:hover, .pagination > a > i:hover, .collection .collection-item a, li.pagination-arrows a i:hover, .socialfooter > a:hover {
	color: black !important;
}

p > a:focus, p > a:hover, .btn > a:hover
{
  color:grey  !important;
}

.headerurl, .side-nav a, .text-left-title-featured, .text-left-title-featured a, .text-left-title a:hover, .text-left-title-featured a:hover, .postdate a, .tag_heading, .chip a, .pagination, .pagination li a, footer a, .btn > a  {
      color: white !important;
}

.posttitle > a {
  color: white !important;
  text-decoration: none;
}

.posttitle > a:hover {
  text-decoration: none;
}

/* **************************************

  SPECIFIC RESTRICTIONS TO GUI

*****************************************/
/* fix MS Edge for featured section */
.container .row {
  width: auto;
}
.card.large {
	height: auto !important;
}

.card-title {
	font-size:125% !important;
	padding:5px !important;
	background-color: black;
	opacity: 0.8;
	width: 100%;	
}

/* forbidden icon from error page */
.card-image > .fa-ban {
	font-size:20em;
}

.slider .indicators {
	position: absolute !important;
	top: 20px !important;
	z-index:200 !important;
	margin-top: 20px !important;
}

/* **************************************

  HEADER

*****************************************/
/* color of clickable header */
.headerurl {
    text-decoration: none;
}

.headerurl:hover {
  text-decoration: none;
}

img.cover {
	width:100%;
	max-height:250px;
	margin-bottom:15px;
}

img.logo {
	height:64px;
	position:relative;
}

/* **************************************

  SLIDEOUT SIDEBAR

*****************************************/

i.fa.fa-bars {
	margin-right:35px;
}

.side-nav {
  background-color: black !important;
}

.side-nav a:hover {
  background-color: #0d47a1;
}

.side-nav full {
    overflow:auto;
}

/* **************************************

  CONTENT SIDEBAR / MAIN

*****************************************/
#sidenav-overlay {
	right: 300px !important;
}


.collection {
	margin:0px !important;
}

.collection .collection-item:hover {
	background-color: #e0e0e0 !important;
}

.collection .collection-item a:hover, .main-content > .text-left-title,  .postdate > a, .author-profile h4, .text-left-title a, article > h1, article > h2, article > h3, article > h4, .slider .indicators .indicator-item.active, .postdate a:hover, .chip a:hover, .author-url-post-head  {
	color:#979797 !important;
}

.card-sidebar {
	margin-top: 0px !important;
}

/* ######################################

POST/ARTICLE HEADERS

##########################################*/

.text-left-title-featured {
	  padding:25px !important;
	  margin-left: auto !important;
	  margin-right: auto !important;
	  margin-bottom:0px !important;
	  width:970px !important;
	  opacity: 0.8;
  	  background-color: black !important;
}

/* post title */
.text-left-title-featured, .text-left-title-featured-sidebar {
	font-size: 120%;
	padding:15px !important;
	white-space: normal;
	overflow:hidden;
	text-overflow: ellipsis;
}

/* aligns the sidebar to the top of the page and adapts the content within it */
.text-left-title-featured-sidebar {
	margin-top:0px;
	margin-bottom: 0px;
	background-color: #1565c0 !important;
    color:white !important;
}

.text-left-title a {
		text-decoration: none;
}

/* **************************************

  ARTICLE/POST LOOK-N-FEEL

*****************************************/


.card-content > h1 {
  	font-size: 250%;
    margin-left: 10px;
		font-family:'Slabo 27px', serif;
}

.card-content > h2 {
	font-size: 200%;
  margin-left: 10px;
	font-family:'Slabo 27px', serif;
}

.card-content > h3 {
	font-size: 175%;
  margin-left: 10px;
	font-family:'Slabo 27px', serif;
}

.card-content > h4 {
	font-size: 140%;
  margin-left: 10px;
	font-family:'Slabo 27px', serif;
}

.card-content > ul li {
  list-style-type: square !important;
  margin-left: 40px;
  margin-right: 40px;
  padding:5px;
  line-height: 35px;
}

.card-content > ol li {
  margin-left: 40px;
  margin-right: 40px;
  padding:5px;
  line-height: 35px;
  text-align: justify;
}

/* general dimensions of posts/articles */
article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
		word-wrap: break-word;
}

.card-content > img, .card-content > p > img {
	max-width: 100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	margin-top:20px;
}

.slider {
	height: 375px !important;
	padding: 0 .75rem !important;
}

.slider .slides {
	height: 350px !important;
}

.slider .slides li .caption {
	bottom:0% !important;
	top:auto !important;
	left:auto !important;
	width: 100% !important;
}

img.content-images-featured.responsive-img {
	width: 970px !important;
	margin-left:auto !important;
	margin-right: auto !important;
	display:block !important;
}

.slider .slides li img {
	background-position: center !important;
	background-color: dimgrey !important;
	background-repeat: no-repeat !important;
}

img.content-images-featured:hover, img.content-images:hover {
	opacity:0.9;
}

iframe {
	max-width: 100% !important;
	display:block;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	margin-bottom:20px;
}

.postdate {
	font-size: 80%;
	padding: 10px;
	position:absolute;
	top:30px;
	right:30px;
	opacity:0.7;
	z-index:1;
	background-color:black;
	color:white;
}

/* add some styling to disqus */
#disqus_thread {
padding-left: 40px;
padding-right: 40px;
}


/* **************************************

  ARTICLE: TAGS look-n-feel

*****************************************/

.tag_heading {
    padding: 20px;
    margin-bottom: 0.25rem;
}

.tags {
	line-height:40px;
}

/* **************************************

	ARTICLE: AUTHOR look-n-feel

*****************************************/
.author-profile h4 a {
	text-decoration: underline;
}

.author-profile {
	min-height:150px;
	background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

section.author-profile {
	background-color:whitesmoke;
}

p.author-bio {
	color:white;
	background-color:black;
}

.author-bio a i {
	color: white;
}

img.avatar {
	border-radius: 50px;
	width:100px;
	height:100px;
	float:left;
	margin-left:5px;
	margin-right:10px;
	position:relative;
	left: 20px;
	top: 40px;
	z-index:200;
}

.avatar-page {
	width:150px;
	float:none;
	border-radius: 20px;
	margin-right:20px;
	margin-top:15px;
}

p.author-bio {
	padding:20px;
	opacity:0.7;
	min-height:150px;
	padding-left:160px;
	margin-bottom: 0px;
}

.socialauthor {
	padding: 15px;
}

.socialauthor > ul > li {
	margin-top: 10px;
	margin-bottom:10px;
}

/* **************************************

  PAGINATION

*****************************************/

.pagination {
		padding:15px;
		margin-top: 0px !important;
}

.pagination > .active {
	padding: 15px;
}

.pagination li.active {
	background-color: #0D47A1 !important;
}

li.pagination-arrows:hover {
	background-color: #1565C0 !important;
}

/* **************************************

  FOOTER

*****************************************/
footer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.page-footer {
	position: absolute !important;
}

.socialfooter > .right > a {
	margin: 15px;
	font-size: 70%;
}

.footer.page-footer {
  position: relative !important;
}


.socialfooter > a {
    color: #00bfff;
}

.socialfooter > a:hover {
    color: black;
}


/* **************************************

	SOME MINOR WIDTH BASED TWEAKS

*****************************************/

/* For the people that have phones reporting very low resolutions */
@media (max-width:600px) and (min-width:200px) {
	/* make logo image smaller as the navigation bar shrinks at these resolutions */
	img.logo {
		height:55px;
	}

/* Smaller margins to the page gets fit to nearly the full screen */
	.container-fluid {
		margin-top:0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	p.text-justify {
		padding-top: 0px;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
	}

	.posttitle {
		margin:10px;
	}

	.postdate {
		padding:5px;
	}

	.pagination, .main-content {
		margin-bottom: 12px;
	}

	.author-profile {
		display:none;
	}

	.avatar {
		display:none;
	}

	.tags {
		line-height: 50px;
		padding-bottom: 10px !important;
	}

	.chip {
		height: 40px !important;
		line-height:40px !important;
	}
}

/* mobile devices */
@media (max-width:992px) and (min-width:601px) {
    h1 {
    	font-size: 120%;
    }

    .content-images, .content-images-individual {
				object-fit: cover;
    }

			.container-fluid {
				margin-top:25px;
				margin-left: 45px;
				margin-right: 45px;
			}

  }

	/* tablet devices */
	@media only screen and (min-width: 993px) {
	.container-fluid {
		margin-top:25px;
		margin-left: auto;
		margin-right: auto;
		width:992px;
	}
}

	/* **************************************

	  FONT AWESOME look-n-feel

	*****************************************/
.fa-user-secret, .fa-star, .fa-calendar, .fa-twitter, .fa-facebook {
  margin-left:20px;
  margin-right:20px;
}

.slides > li > p > .fa-star {
	margin-left: 5px !important;
	margin-right: 5px !important;
	color: orange;
}

.postdate i {
	margin-right: 5px;
}

.postdate > a i {
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	margin-top: 3px;
}

	/* general styling of pretty much all font-awesome icons */
	.socialfooter > a i {
	    color: white;
	    padding: 15px;
	    transition: all 0.2s ease-in-out;
	}

		.socialfooter > a i:hover {
			color:black;
		}


.twitter-tweet {
	margin-left:auto;
	margin-right: auto;
}
