/* **************************************

  GENERAL FONT / ELEMENT

*****************************************/

html body {
line-height: 0 !important;
font-size:16px;
font-family: 'Poppins', Segoe UI, Roboto,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

h1 {
	font-family:'Slabo 27px';
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.3999996185303px;
}

h2 {
	font-family:'Slabo 27px';
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.3999996185303px;
}

h3 {
	font-family:'Slabo 27px';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.3999996185303px;
}

h4 {
	font-family:'Slabo 27px';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.3999996185303px;
}

p {
	line-height: normal;
	text-rendering: geometricPrecision;
}

p > a {
	text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #979797 !important;
    margin: 1em 0;
    padding: 0;
}

blockquote {
	position:relative;
  padding:10px 45px;
}

blockquote:before, blockquote:after {
    color:black;
    content:'\f10d';
    font-family:'FontAwesome';
    font-size:30px;
    position:absolute;
    top:5px;
    left:8px;
    display:block;
}
blockquote:after {
    content:'\f10e';
    bottom:0;
    right:8px;
    top:auto;
    left:auto;
}

blockquote > p {
  	font-style: italic !important;
		text-align:left;
		margin-left:30px !important;
}

pre {
	line-height: 18.5714302062988px;
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #f5f7f8;
}

strong {
	font-family:'Slabo 27px';
  font-weight: 700 !important;
}

/* **************************************

  SPECIFIC RESTRICTIONS TO GUI

*****************************************/
/* fix MS Edge for featured section */
.container .row {
  width: auto;
}

.row {
  margin-left: auto;
  margin-right: auto;
	max-width:960px !important;
  padding-bottom: 20px;
}


.home-template, .post-template, .tag-template, .author-template, .error-template {
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
}

.post-template {
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
}

.posttitle {
	margin:0;
	margin-left:15px;
	float:left;
	padding-top:12px;
	font-family:'Slabo 27px';
	font-size:20px;
}

.card {
	margin-bottom:40px !important;
}

.card.large {
	height: auto !important;
}

.card-title {
	padding:5px !important;
}

/* forbidden icon from error page */
.card-image > .fa-ban {
	font-size:20em;
}

/* read more button on featured posts */
.card-featured > #read_more_custom {
  display:none;
}

/* **************************************

  HEADER

*****************************************/
/* color of clickable header */
.headerurl {
    text-decoration: none;
		margin-left:20px;
		font-family:'Slabo 27px';
}

.headerurl:hover {
  text-decoration: none;
}

nav .brand-logo {
	line-height:5px;
}

img.cover {
	width:100%;
	margin-bottom:15px;
}

img.logo {
	height:64px;
	position:relative;
	margin-left:1%;
}

/* **************************************

  SLIDEOUT SIDEBAR

*****************************************/

i.fa.fa-bars {
	margin-right:15px;
}

nav .button-collapse i {
	font-size: 1em !important;
}

.side-nav full {
    overflow:auto;
}

.side-nav li {
    height: 55px;
		padding:0 !important;
}



/* **************************************

  SITE/CONTENT SIDEBAR

*****************************************/

.card-sidebar {
	margin: 0px !important;
	width:100%;
}

.sidebar {
	margin-top: 0px !important;
}

.collection {
	margin:0px !important;
}


/* ######################################

POST/ARTICLE HEADERS

##########################################*/

/* post title */
.text-left-title-featured, .text-left-title-featured-sidebar {
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	padding:10px !important;
	margin:0px;
	white-space: normal;
	overflow:hidden;
	text-overflow: ellipsis;
}

.text-left-title-featured-sidebar {
	margin-top:0px;
	margin-bottom: 0px;
}

.text-left-title a {
		text-decoration: none;
}

/* **************************************

  ARTICLE/POST LOOK-N-FEEL

*****************************************/
.card-content > h1 {
  	font-size: 30px;
    margin-left: 10px;
}

.card-content > h2 {
	font-size: 22px;
  margin-left: 10px;
}

.card-content > h3 {
	font-size: 20px;
  margin-left: 10px;
}

.card-content > h4 {
	font-size: 18px;
  margin-left: 10px;
}

.card-content > ul li {
  list-style-type: square !important;
  margin-left: 40px;
  margin-right: 40px;
  padding:5px;
  line-height: normal;
}

.card-content > ol li {
  margin-left: 40px;
  margin-right: 40px;
  padding:5px;
  line-height: normal;
  text-align: justify;
}

/* general dimensions of posts/articles */
article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
		word-wrap: break-word;
}

.card-content > img, .card-content > p > img, img {
	max-width: 100%;
}

.slider {
	margin-bottom: 25px !important;
}

.slider .slides li .caption {
	bottom:0% !important;
	top:unset !important;
	left:unset !important;
	width: 100% !important;
}

.slider .slides li img {
	max-height:400px;
	object-fit: cover;
}

img.content-images-featured:hover, img.content-images:hover {
	opacity:0.9;
}

iframe {
	max-width: 100% !important;
}

.postdate {
    font-size: 16px;
    margin:0px;
		padding: 15px;
}

/* add some styling to disqus */
#disqus_thread {
padding-left: 40px;
padding-right: 40px;
}


/* **************************************

  ARTICLE: TAGS look-n-feel

*****************************************/

.tag_heading {
    padding: 20px;
    margin-bottom: 0.25rem;
}

.tags {
	line-height:40px;
	margin-bottom:15px;
}

/* **************************************

	ARTICLE: AUTHOR look-n-feel

*****************************************/
.author-profile h4 a {
	text-decoration: underline;
}

.author-profile {
	min-height:150px;
	background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

.author-bio a i {
	color: white;
}

img.avatar {
	border-radius: 50px;
	width:100px;
	height:100px;
	float:left;
	margin-left:5px;
	margin-right:10px;
	position:relative;
	left: 20px;
	top: 25px;
	z-index:200;
}

.avatar-page {
	width:150px;
	float:none;
	border-radius: 20px;
	margin-right:20px;
	margin-top:15px;
}

p.author-bio {
	padding:20px;
	opacity:0.7;
	min-height:150px;
	padding-left:160px;
	margin-bottom: 0px;
}

.socialauthor {
	padding: 15px;
}

.socialauthor > ul > li {
	margin-top: 10px;
	margin-bottom:10px;
}

/* **************************************

  PAGINATION

*****************************************/

.pagination {
		padding:15px;
}

/* **************************************

  FOOTER

*****************************************/
footer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
    padding: 20px;
}

/* **************************************

	SOME MINOR WIDTH BASED TWEAKS

*****************************************/

/* For the people that have phones reporting very low resolutions */
@media (max-width:600px) and (min-width:200px) {
	/* make logo image smaller as the navigation bar shrinks at these resolutions */
	img.logo {
		height:55px;
	}

	.text-left-title {
		font-size:22px;
		padding:3px;
		margin:10px;
	}

/* Smaller margins to the page gets fit to nearly the full screen */
	.container-fluid {
		margin-top:0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	p.text-justify {
		padding-top: 0px;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
	}

	.postdate {
		padding:5px;
	}

	.mobile-menu{
		position:absolute;
		bottom:0 !important;
	}

	.pagination, .main-content {
		margin-bottom: 12px;
	}

	.author-profile {
		display:none;
	}

	.avatar {
		display:none;
	}
}

/* mobile devices */
@media (max-width:992px) and (min-width:601px) {
    h1 {
    	font-size: 18px;
    }

    .content-images, .content-images-individual {
				object-fit: cover;
    }

			.container-fluid {
				margin-top:25px;
				margin-left: 65px;
				margin-right: 65px;
			}
  }

	/* tablet devices */
	@media only screen and (min-width: 993px) {
	.container-fluid {
		margin-top:25px;
		margin-left: 100px;
		margin-right: 100px;
	}

	.brand-logo {
		float:left !important;
		margin-left: 75px !important;
		left: unset !important;
	}


}

	/* **************************************

	  FONT AWESOME look-n-feel

	*****************************************/
.fa-user-secret, .fa-star, .fa-calendar, .fa-twitter, .fa-facebook {
  margin-left:20px;
  margin-right:20px;
}

.postdate i {
	margin-right: 5px;
}

.postdate > a i {
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	margin-top: 3px;
}

	/* general styling of pretty much all font-awesome icons */
	.socialfooter > a i {
	    color: white;
	    border-radius: 10px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 3px;
	    margin-top: 3px;
	    padding: 15px;
	    transition: all 0.2s ease-in-out;
	}

		.socialfooter > a i:hover {
			color:black;
		}
