/* ##############################

  SET OVERALL ACCENT color

  #############################*/
.accentcolor {
background-color: #0d47a1 !important;
}

.accentcolor2, .side-nav a:hover, .slider .indicators .indicator-item.active {
  background-color: #1565c0 !important;
}

.accentcolor-error {
  background-color: red !important;
}


  /* ##############################

    OTHER COLORS

    #############################*/
  html body {
  background-color: dimgrey;
}

blockquote {
  background-color: whitesmoke;
  border-left: 0 !important;
}

 .text-left-title-featured {
  opacity: 0.8;
  background-color: black !important;
  margin:0px;
  padding:25px !important;
 }

 .text-left-title-featured-sidebar {
   background-color: #1565c0 !important;
   color:white !important;
 }

p > a, .headerurl:hover, .pagination > a > i:hover, .collection .collection-item a, li.pagination-arrows a i:hover, .socialfooter > a:hover {
	color: black !important;
}


p > a:focus, p > a:hover, .btn > a:hover
{
  color:grey  !important;
}

.headerurl, .side-nav a, .text-left-title-featured, .text-left-title-featured a, .text-left-title a:hover, .text-left-title-featured a:hover, .postdate a, .tag_heading, .chip a, .pagination, .pagination li a, footer a, .btn > a  {
      color: white !important;
}

.side-nav {
  background-color: black !important;
}

.side-nav a:hover {
  background-color: #0d47a1;
}

.collection .collection-item:hover {
	background-color: #e0e0e0 !important;
}

.collection .collection-item a:hover, .main-content > .text-left-title,  .postdate > a, .author-profile h4, .text-left-title a, article > h1, article > h2, article > h3, article > h4, .slider .indicators .indicator-item.active, .postdate a:hover, .chip a:hover, .author-url-post-head  {
	color:#979797 !important;
}

.card-title {
  background-color: black;
  opacity: 0.8;
  width: 100%;
}

.posttitle > a {
	color: white !important;
  text-decoration: none;
}

.posttitle > a:hover {
  text-decoration: none;
}

section.author-profile {
	background-color:whitesmoke;
}

.pagination li.active {
	background-color: #0D47A1 !important;
}

li.pagination-arrows:hover {
	background-color: #1565C0 !important;
}

/* social media icons sidebar and footer */
.socialfooter > a {
    color: #00bfff;
}

.socialfooter > a:hover {
    color: black;
}

.postdate {
  background-color:black;
  color:white;
}

p.author-bio {
	color:white;
	background-color:black;
}
