@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html body {
font-family: 'PT Sans', sans-serif;
background-color:#404040;
line-height: 0 !important;
}

h1 {
font-family: 'PT Sans';
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

article > h1 {
  	font-size: 36px;
    margin-left: 10px;
    color: #979797;
}

h2 {
  font-family: 'PT Sans';
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}

h3 {
font-family: 'PT Sans';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}

h4 {
font-family: 'PT Sans';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}


p {
	line-height: 20px;
  margin: 5px;
}

blockquote {
	line-height: 30px;
  border-left: 5px solid grey !important;
}

blockquote > p {
  	font-style: italic !important;
}

pre {
	line-height: 18.5714302062988px;
}

strong {
  font-weight:700 !important;
}

article > ul li {
  list-style-type: square !important;
  margin-left: 40px;
  margin-right: 40px;
  padding:5px;
  line-height: 25px;
  text-align: justify;
}

article > ul {
  margin-left: 30px !important;
}

article > p {
  margin-left:20px;
  margin-right:20px;
}

ul li {
  list-style-type: none;
}

.tags {
  text-align:center;
  margin-top:25px;
}

.chip {
  margin-left:10px;
}

.fa-user, .fa-star, .fa-calendar {
  margin-left:20px;
  margin-right:20px;
}

/* **************************************

  SLIDEOUT SIDEBAR

*****************************************/

.side-nav full {
    overflow:auto;
}

.side-nav {
  background-color: black !important;
}

.side-nav a {
  color: white !important;
}

.side-nav a:hover {
  color:white !important;
  background-color: #0d47a1;
}

.side-nav li {
    height: 55px;
}

.side-nav li:hover{
    background-color: black !important;
}

body > nav > div > ul > li.dropdown.open > ul {
    color:white;
    background-color:black;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: white !important;
  background-color:#0d47a1;
}

/* **************************************

  HEADER

*****************************************/


/* website title header */
header .blogtitle {
		display: inline-block;
    font-size: 36px !important;
    margin-left: 5%;
    top: 38%;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* website subtitle header */
header .blogdescription {
    color: white;
    left: 7%;
    top: 70%;
    position: absolute;
    text-overflow: ellipsis;
}

/* color of clickable header */
.headerurl {
    color: white;
    text-decoration: none;
}

.headerurl:hover {
  color:white;
  text-decoration: none;
}


/* social media icons sidebar and footer */
.socialfooter {
  text-align: center;
  border-top:1px solid rgba(0,0,0,0.12);
}

.socialfooter > a {
    color: #00bfff;
}

.socialfooter > a:hover {
    color: black;
}


/* **************************************

  FOOTER

*****************************************/
footer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
    padding: 20px;
}

footer a {
  color: white !important;
}

footer > nav {
  background-color: #0d47a1 !important;
}

/* **************************************

  CONTENT

*****************************************/

.main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
}

.container {
  max-width:960px !important;
}

/* fix MS Edge for featured section */
.container .row {
  width: auto;
}

.row {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  border-bottom:1px solid rgba(0,0,0,0.12);
}

.card {
  float:left;
}

.card-left {
  width:30%;
  float:left;
}

.card-right {
  float:right;
  width:70%;
  padding:6px;
}

.card-bottom {
  float:left;
}

.card-featured > #read_more_custom {
  display:none;
}

.content-images-featured {
  max-height:200px !important;
}

#read_more_custom {
    position:absolute;
    bottom:0;
    right:0;
    color:white;
    text-decoration:none;
}

.tag_heading {
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin-bottom: 0.25rem;
    color: white;
}


/* look-n-feel of main container */
.container-fluid {
    margin: 0;
    height: 100%;
    padding-bottom: 15px;
}

/* general styling of pretty much all font-awesome icons */
a i {
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
.socialfooter > a i:hover {
    color:black;
}

p > a:focus, p > a:hover
{
  color:black  !important;
}

/* tag url color */
.chip a {
  color:black;
}

.chip a:hover {
      color: #979797;
}



/* icons in table */
.fa-2x {
color: white;
}

.fa-2x:hover {
  color: black;
}

.fa-star {
  color: #ffa500;
}

/* post look and feel */
.posttheme-dialog {
    background-color: #29b6f6;
    color: white;
    padding: 20px;
    margin-top: 0;
}

.postdate {
    font-size: 16px;
    color: #979797;
    text-align: center;
    margin:0px;
}

.postdate a {
  color: black;
}

.postdate a:hover {
  color:#979797;
}

/* post title */
.text-left-title {
  font-family: 'PT Sans';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  padding:20px;
  margin: 0px;
  overflow: none;
  text-align: center;
  color: white;
}

/* post title */
.text-left-title-featured {
  font-family: 'PT Sans';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  margin: 0px;
  overflow: none;
  text-align: center;
  color: white;
  padding:10px !important;
  height: 70px;


  text-overflow: ellipsis;

/* Required for text-overflow to do anything */
overflow: hidden;
}

.text-left-title a, .text-left-title-featured a {
    color: white;
    text-decoration: none;
}

.text-left-title a:hover, .text-left-title-featured a:hover {
  color: white;
}

/* styling individual post specific */
.text-justify-individual {
  height:auto;
  margin: 20px !important;
}



  /* ######################################

  POST related

  ##########################################*/

    .authorimage {
      text-align:center;
      border-top:1px solid rgba(0,0,0,0.12);
      padding-top: 40px;
    }

    .authorname {
      text-align:center;
      color: white;
      padding: 10px;
      margin: 0px;
      background-color: #29b6f6;
    }

    .authorwebsite {
      text-align:center;
      color: white;
    }

    .authorbio {
      text-align: center;
      color: black;
    }

  /* add some styling to disqus */
  #disqus_thread {
  padding: 40px;
  }

  /* general dimensions of posts/articles */
  article {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      background-color: white;
  }

  article img {
      width: 100%;
  }


  .pagination {
      display: block !important;
      text-align: center !important;
      bottom: 0;
      right: 30px;
      color:white;
  }

  @media only screen and (min-width: 1125px) and (max-width: 1332px) {

    .card-left {
      width:30%;
      float:left;
    }

    .card-right {
      float:right;
      width:70%;
      padding:7px;
    }

        .featured {
          display: block;
        }

        .postdate {
          margin:0;
          display:block;
        }
  }


/* medium width devices */
@media only screen and (max-width: 1124px) {

  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    padding: 0 0 0 5px;
  }

  .container {
   margin-top: 70px !important;
  }
    header {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    header .blogtitle {
        font-size: 28px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    header .blogdescription {
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }


    footer .blogdescription {
        color: white;
        padding: 60px;
        margin-left: 35px;
        margin-right: 35px;
        text-overflow: ellipsis;
    }

    h1 {
  font-family: 'PT Sans';
    	font-size: 18px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.3999996185303px;
    }

    /* post title */
    .text-left-title {
        padding:20px;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content-images, .content-images-individual {
        width: 100%;
    }


    article {

    }

    .featured {
      display: none;
    }

    .postdate {
      margin:0;
      display:none;
    }

    .card-left {
      width:100%;
      float:left;
    }

    .card-right {
      float:right;
      width:100%;
    }

    .card-bottom {
      width: 100%;
      float:inherit;
    }

  }
