@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
background-color:#404040;
}

h1 {
	font-family: Raleway;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  margin: 5px;
}
blockquote {
	font-family: Raleway;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;
}
/* **************************************

  SLIDEOUT SIDEBAR

*****************************************/

.side-nav full {
    overflow:auto;
}

.side-nav li {

    height: 55px;
}

body > nav > div > ul > li.dropdown.open > ul {
    color:white;
    background-color:black;
}

/* **************************************

  HEADER

*****************************************/


/* website title header */
header .blogtitle {
display: inline-block;
    font-size: 48px;
    margin-left: 5%;
    top: 38%;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* website subtitle header */
header .blogdescription {
    color: white;
    left: 7%;
    top: 70%;
    position: absolute;
    text-overflow: ellipsis;
}

/* color of clickable header */
.headerurl {
    color: white;
    text-decoration: none;
}

.headerurl:hover {
  color:white;
  text-decoration: none;
}


/* social media icons sidebar and footer */
.socialfooter {
  text-align: center;
  border-top:1px solid rgba(0,0,0,0.12);
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.socialfooter > a {
    color: #00bfff;
}

.socialfooter > a:hover {
    color: black;
}


/* **************************************

  FOOTER

*****************************************/
footer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
    padding: 20px;
}

footer a {
  color: white !important;
}

/* **************************************

  CONTENT

*****************************************/

.main-content {
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  border-bottom:1px solid rgba(0,0,0,0.12);
}

#read_more_custom {
    margin-right:20px;
    margin-bottom:20px;
    float:right;
    color:white;
        text-decoration:none;
}


/* look-n-feel of main container */
.container-fluid {
    margin: 0;
    height: 100%;
    padding-bottom: 15px;
}

/* general styling of pretty much all font-awesome icons */
a i {
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
a i:hover {
    color:black;
}

a:focus, a:hover {
  color:white !important;
}

/* icons in table */
.fa-2x {
color: white;
}

.fa-2x:hover {
  color: black;
}

.fa-star {
  color: #ffa500;
}

/* post look and feel */
.posttheme-dialog {
    background-color: #29b6f6;
    color: white;
    padding: 20px;
    margin-top: 0;
}

.postdate {
    font-size: 16px;
    margin-right: 5px;
    color: #979797;
}

/* post title */
.text-left-title {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  padding-left: 10px;
  padding:10px;
  margin: 0px;
  overflow: none;
  text-align: center;
  color: white;
}

.text-left-title a {
    color: white;
    text-decoration: none;
}

.text-left-title a:hover {
  color: white;
}

.postdate {
  text-align: center;
}

.postdate a {
  color: #29b6f6;
}


/* styling individual post specific */
.text-justify-individual {
  height:auto;
}



  /* ######################################

  POST related

  ##########################################*/

    .authorimage {
      text-align:center;
      border-top:1px solid rgba(0,0,0,0.12);
      padding-top: 40px;
    }

    .authorname {
      text-align:center;
      color: white;
      padding: 10px;
      margin: 0px;
      background-color: #29b6f6;
    }

    .authorwebsite {
      text-align:center;
      color: white;
    }

    .authorbio {
      text-align: center;
      color: black;
    }

  /* add some styling to disqus */
  #disqus_thread {
  padding: 40px;
  }

  /* general dimensions of posts/articles */
  article {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      min-width: 300px;
      background-color: white;
  }

  article img {
      width: 100%;
  }


  .pagination {
      display: block !important;
      text-align: center !important;
      bottom: 0;
      right: 30px;
      color:white;
  }


/* medium width devices */
@media only screen and (max-width: 1023px) {
    header {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    header .blogtitle {
        font-size: 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    header .blogdescription {
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }


    footer .blogdescription {
        color: white;
        padding: 60px;
        margin-left: 35px;
        margin-right: 35px;
        text-overflow: ellipsis;
    }

    h1 {
    	font-family: Raleway;
    	font-size: 28px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.3999996185303px;
    }

    /* post title */
    .text-left-title {
        padding-left: 10px;
        padding-top: 10px;
        font-size: 28px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content-images {
        width: 100%;
        padding-top: 0px;
    }

    .content-images-individual {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }

    .row, .row-featured, .row-individualpost {
    width: 94%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;

    }

    .btn {
      margin: 0;
      bottom: -25px;
      right: -5px;
      float: right;
    }

    .row-individualpost {
      padding-left: 0px;
      padding-right:0px;
    }

    article {
      margin-top: 40px;
    }


  }


/* high dpi displays */

@media only screen and (min-width: 1024px) {

  .maincontent {
   margin-top: 20px;
  }

  .text-left-title {
    text-align: center;
  }

  .postdate {
    text-align: center;
  }

  .text-justify {
    height:100% !important;
  }

  .row-individualpost {
    padding-left: 0px;
    padding-right: 0px;
  }

  .row, .row-individualpost, .row-featured {
    float: left;
    margin-bottom: 40px;
    width: 66%;
    border-bottom:1px solid rgba(0,0,0,0.12);
    }


  /* big images inline */
  .content-images {
      padding-right: 0;
      padding-top: 0;
      margin-top: 0px;
      margin-left: 0px;
      max-width: 100%;
  }

  .content-images-individual {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: 0px;
  }


      .authorimage {
        padding-top: 0;
        height: 250px;
      }

      .authorimage > img {
        margin-top: 50px;
        height: 150px;
        border-radius: 25px;
      }

      .author-website a {
        color: #29b6f6;
      }

      .author-website a:hover {
        color: #088cc9;
      }

      .socialside {
        background-color: #29b6f6;
        text-align:center;
      }

}

@media only screen and (min-width: 1300px) {
  .row, .row-individualpost, .row-featured {
    margin-bottom: 40px;
    width: 72%;
    border-bottom:1px solid rgba(0,0,0,0.12);
    }

    .container-fluid, .maincontent {
      max-width: 1536px;
      margin-left: auto;
      margin-right: auto;
    }
}

/* ##################################

Temporary unavailable (in development)

################################### */


.postfooter {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.authorimage > img {
    width: auto;
}
