@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1 {
	font-family: Raleway;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  margin: 5px;
}
blockquote {
	font-family: Raleway;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;
}


/* **************************************

  HEADER

*****************************************/
header {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    -webkit-transition: height 2.0s;
    -moz-transition: height 2.0s;
    -ms-transition: height 2.0s;
    -o-transition: height 2.0s;
    transition: height 2.0s;
    background-color: #29b6f6;
}

/* website title header */
header .blogtitle {
    font-size: 48px;
    margin-left: 5%;
    top: 50%;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* website subtitle header */
header .blogdescription {
    color: white;
    right: 10%;
    top: 50%;
    position: absolute;
    text-overflow: ellipsis;
}

/* website title header when scrolling */
header.smaller {
    height: 85px;
}
header.smaller .blogtitle {
    text-overflow: ellipsis;
    white-space: nowrap;
}
header.smaller .blogdescription {
    position: absolute;
    right: 30%;
    top: 50%;
    color: white;
}

/* color of clickable header */
.headerurl {
    color: white;
    text-decoration: none;
}

.headerurl:hover {
  color:white;
  text-decoration: none;
}

/* **************************************

  FOOTER

*****************************************/
footer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
    background-color: #29b6f6 !important;
    padding: 30px;
}

footer a {
  color: white !important;
}

/* **************************************

  CONTENT

*****************************************/
.row {
  background-color: white;
  text-align: justify;
  width: 80%;
  max-width:1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  border-bottom:1px solid rgba(0,0,0,0.12);
}

/* look-n-feel of main container */
.container-fluid {
    margin: 0;
    height: 100%;
    overflow: auto;
    padding-bottom: 15px;
}

.fork {
  position: absolute;
  width: 120px;
  right: 0;
}

/* big images inline */
.content-images {
    width: 100%;
    padding-top: 80px;
}

/* company logos */
img.userprofileimages {
  max-width: 140px;
  margin: 10px;
}

/* social media icons */
a i {
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
a i:hover {
    color:white;
}

/* icons in table */
.fa-2x {
color: black;
}

.fa-2x:hover {
  color: white;
}


/* Card, Dialog */
.card {
  position: relative;
  vertical-align: top;
  background-color: #fff;
}



/* medium width devices */
@media only screen and (max-width: 770px) {
    header {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    header .blogtitle {
        margin-left: 10px;
        margin-top: 2%;
        font-size: 26px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    header.smaller .blogtitle {
        margin-left: 10px;
        margin-top: 2%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    header .blogdescription {
        display: none;
    }


    footer .blogdescription {
        color: white;
        padding: 60px;
        margin-left: 35px;
        margin-right: 35px;
        text-overflow: ellipsis;
    }

    .row {
      padding: 35px;
    }

    h1 {
    	font-family: Raleway;
    	font-size: 28px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.3999996185303px;
    }
  }



  /*  questionmark header */
  .about {
      position: absolute;
      right: 10px;
      top: 10px;
  }

  .about > a {
      color: #00bfff;
  }
  .about > a:hover {
      color: black;
  }


  /* post look and feel */
  .posttheme {
      background-color: #1e90ff;
      color: white;
      padding-bottom: 5px;
      border-radius: 0px 0px 15px 15px;
  }

  .posttheme-dialog {
      background-color: #1e90ff;
      color: white;
      padding-bottom: 5px;
      margin-top: 0;
  }

  .postdate {
      font-size: 16px;
      margin-right: 5px;
      color: #979797;
  }
  .text-left-title a {
      color: #29b6f6;
  }

  .postdate a {
    color: #29b6f6;
  }


/* ##########################################

OLD CSS

############################################*/


/* social media icons */
#socialhead {
    position: absolute;
    top: 10px;
    right: 45px;
}

#socialhead > a {
    color: #00bfff;
}

#socialhead > a:hover {
    color: black;
}

/* add some styling to disqus */
#disqus_thread {
padding: 40px;
}

/* post title */
.text-left-title {
    padding-left: 10px;
    padding-top: 50px;
    font-size: 28px;
}

/* general dimensions of posts/articles */
article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 35px;
    min-width: 300px;
}

article img {
    width: 100%;
}

h4 {
  margin-top: 0px !important;
}

.postfooter {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.authorimage > img {
    width: auto;
}

.pagination {
    display: block !important;
    text-align: center !important;
    bottom: 0;
    right: 30px;
}

/* high dpi displays */
@media only screen and (min-width: 721px) {
    .container-fluid {
        padding-top: 190px;
    }

    p {
        margin-left: 10px;
        margin-right: 10px;
    }

}

/* super high resolutions */
@media only screen and (min-width: 1200px) {
  /* big images inline */
  .content-images {
      padding-left: 20px;
      padding-right: 0;
      padding-top: 80px;
      width: 50%;
      float:right;
  }

  .content-images-individual {
    padding-left: 10px;
    padding-right: 0;
    padding-top: 80px;

  }
}
