<h1 class="text-left-title-featured-sidebar accentcolor2 center-align">Latest</h1>
<ul class="collection">
{{#foreach posts}}
<li class="collection-item"><a href="{{url}}">{{title}}<span class="badge"><time datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD MMMM YYYY"}}</time></span></a></li>
{{/foreach}}
</ul>