  <h1 class="text-left-title-featured-sidebar accentcolor center-align"></i>Need something else to read?</h1>
  <ul class="collection" id="random-posts-list">
    {{! content of 'randompost.js' gets entered here! }}
  </ul>
